<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Hprose Server</display-name>
    <servlet>
        <servlet-name>RegisterServer</servlet-name>
        <servlet-class>org.github.omnbmh.hprose.examples.server.Servlet.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>protrol</param-name>
            <param-value>http</param-value>
        </init-param>
        <init-param>
            <param-name>host</param-name>
            <param-value>10.100.142.94</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>8080</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>hprose.server.HproseServlet</servlet-class>
        <init-param>
            <param-name>class</param-name>
            <param-value>org.github.omnbmh.hprose.examples.server.Hello</param-value>
        </init-param>
        <init-param>
            <param-name>crossDomain</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HproseUserServlet</servlet-name>
        <servlet-class>hprose.server.HproseServlet</servlet-class>
        <init-param>
            <param-name>class</param-name>
            <param-value>org.github.omnbmh.hprose.examples.server.Exam2|org.github.omnbmh.hprose.examples.server.Exam1|ex2,org.github.omnbmh.hprose.examples.server.Exam1||ex1,org.github.omnbmh.hprose.examples.server.UserServer||user_s</param-value>
        </init-param>
        <init-param>
            <param-name>mode</param-name>
            <param-value>propertyMode</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.github.omnbmh.hprose.examples.entry.User|User</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HproseUserServlet</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
